<!DOCTYPE html>
<html lang="en">
<body> 
<head>
    <p>
        Hello {{github_username}}
        {% if repos %}
        ...here are your repos:
        {% for repo in repos %}
        <ul>
            {% for key, value in repo.items() %}
            {% if key == "Avatar" %}
                <li><strong>{{ key }}: </strong><img src="{{ value }}" width="300"></li>
            {% else %}
                <li><strong>{{ key }}: </strong>{{ value }}</li>
            {% endfor %}
        </ul>
        </br>
        {% endfor %}
    {% else %}
        <p>No repositories found.</p>
    {% endif %}
    </p>
 </head> 
</body>
</html>