<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Most Epic Website</title>
	<link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body>
	<h1 class="header">Welcome...</h1>
	<h3 class="header">...to your maths test.</h3>
	<p>What is the answer to {{question}}</p>
	<form action="/submit" method = "post">
		<label for="answerfield">Answer:</label>
		<input type="number" id="answerfield" name="answer">
	</form>
	<p>(Hit 'Enter' key to submit)</p>
</body>
</html>
